{% extends 'base.html' %}

{% block header %}
    <ul style="margin-left: 0">
        <li v-for="m in meetingRoomList"
            style="padding: 0; margin: 5px; list-style-type: none; display: inline-block;">
            <button @click="renderBookMeeting(m, $event)"
                    type="button"
                    class="btn btn-white btn-primary">
                <% m.name %>
            </button>
        </li>
    </ul>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-9">
            <h3 class="purple" align="center"><i class="fa fa-empire"></i> <% currentChooseMeetingRoom.name %></h3>
            <div class="space"></div>
            <div id="calendar"></div>
        </div>

        <div class="col-sm-3">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4> <% currentChooseMeetingRoom.name %> 会议室介绍</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div class="external-event label-success label-white" data-class="label-success">
                                <i class="ace-icon fa fa-user"></i>
                                可容纳人数： <% currentChooseMeetingRoom.capacity %>
                            </div>
                        </div>
                    </div>
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div class="external-event label-success label-white" data-class="label-success">
                                <i class="ace-icon fa fa-television"></i>
                                是否有投影/电视：
                                <span v-if="currentChooseMeetingRoom.screen" class="green">是</span>
                                <span v-else class="red">否</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4><% currentChooseMeetingRoom.name %> 今日预定情况</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div class="external-event label-success label-white"
                                 data-class="label-success">
                                <i class="ace-icon fa fa-clock-o"></i>
                                上午 已预订：0小时30分； 可预订：1小时30分
                            </div>

                            <div class="external-event label-info label-white" data-class="label-info">
                                <i class="ace-icon fa fa-clock-o"></i>
                                下午 已预订：0小时30分； 可预订：1小时30分
                            </div>


                            <div class="external-event label-warning label-white" data-class="label-info">
                                <i class="ace-icon fa fa-clock-o"></i>
                                晚上 已预订：0小时30分； 可预订：1小时30分
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4><% currentChooseMeetingRoom.name %> 透视</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="space-4"></div>
                        <img width="200px" height="200px" style="border-radius:20px;"
                             :src="currentChooseMeetingRoom.picture"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block external_script %}
    <script type="text/javascript">

        // 日历渲染
        var renderFullCalendar = function (meetingRoomName, meetingEvents) {
            console.log('xxx', meetingRoomName, meetingEvents);
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var name = meetingRoomName;
            var calendar = $('#calendar').fullCalendar({
                lang: 'zh-CN',
                timezone: 'local',
                minTime: '06:00:00',
                maxTime: '23:59:59',
                displayEventTime: true,
                displayEventEnd: true,
                aspectRatio: 2.2,
                firstDay: 1,
                defaultView: 'agendaWeek',
                allDaySlot: false,
                buttonText: {
                    month: '月视图',
                    agendaWeek: '周视图',
                    agendaDay: '天视图'
                },
                buttonHtml: {
                    prev: '<i class="ace-icon fa fa-chevron-left"></i>',
                    next: '<i class="ace-icon fa fa-chevron-right"></i>'
                },
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                },
                events: meetingEvents,
                editable: true,
{#                droppable: true,#}
{#                drop: function (date) {#}
{#                    var originalEventObject = $(this).data('eventObject');#}
{#                    var $extraEventClass = $(this).attr('data-class');#}
{#                    var copiedEventObject = $.extend({}, originalEventObject);#}
{#                    copiedEventObject.start = date;#}
{#                    copiedEventObject.allDay = false;#}
{#                    if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];#}
{#                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);#}
{#                    if ($('#drop-remove').is(':checked')) {#}
{#                        $(this).remove();#}
{#                    }#}
{#                },#}
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    window.location.href = "{% url 'book' %}?start=" + start + "&end=" + end + "&meetingroom=" + meetingRoomName;
                },
                eventClick: function (calEvent, jsEvent, view) {
                    //点击事件后的操作
                    var modal =
                        '<div class="modal fade">\
                          <div class="modal-dialog">\
                           <div class="modal-content">\
                            <div class="modal-body">\
                             <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
                              <form class="no-margin">\
                                <label>修改会议主题 &nbsp;</label>\
                                 <input class="middle" autocomplete="off" type="text" value="' + calEvent.title + '" />\
					        <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i>保存</button>\
				          </form>\
				         </div>\
				        <div class="modal-footer">\
					     <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i>删除预定</button>\
					     <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i>取消</button>\
				        </div>\
			           </div>\
			          </div>\
			        </div>';

                    var modal = $(modal).appendTo('body');
                    modal.find('form').on('submit', function (ev) {
                        ev.preventDefault();

                        calEvent.title = $(this).find("input[type=text]").val();
                        calendar.fullCalendar('updateEvent', calEvent);
                        modal.modal("hide");
                    });
                    modal.find('button[data-action=delete]').on('click', function () {
                        calendar.fullCalendar('removeEvents', function (ev) {
                            return (ev._id == calEvent._id);
                        });
                        modal.modal("hide");
                    });
                    modal.modal('show').on('hidden', function () {
                        modal.remove();
                    });
                }
            });
        };

        var token = "{{ csrf_token }}";
        var data = {
            meetingRoomInfoUrl: "{% url 'bookmeeting:meetingroot-info' %}",
            meetingBookingUrl: "{% url 'bookmeeting:booking' %}",
            meetingRoomList: '', // 这里面包含了当前会议室的预定信息
            currentChooseMeetingRoom: ''
        };
        // vue
        var app = new Vue({
            el: "#book-page-content",
            delimiters: ["<%", "%>"],
            data: data,
            watch: {
                // 这里为了避免异步加载数据导致的页面数据缺失，使用watch来监视currentChooseMeetingRoom，如果数据完毕就重新渲染页面
                currentChooseMeetingRoom: function () {
                    this.renderBookMeeting(this.currentChooseMeetingRoom)
                }
            },
            created: function () {
                this.getMeetingRoom();
            },
            mounted: function () {
                {#                this.initRender();#}
            },
            methods: {
                generateEvents: function (booking_info) {
                    // 根据booking_info，来生成页面展示的events
                    var eventsList = [];
                    if (0 !== booking_info.length) {
                        $.each(booking_info, function (k, v) {
                            var item = {
                                title: v.subject + "【" + v.user + "】",
                                start: new Date(v.start_time),
                                end: new Date(v.end_time),
                                allDay: false,
                                className: 'label-info'
                            };
                            eventsList.push(item)
                        })
                    }
                    return eventsList
                },
                getMeetingRoom: function () {
                    this.$http.get(this.meetingRoomInfoUrl).then(function (response) {
                        var result = response.data;
                        // 把列表中的第一个作为页面的默认渲染
                        this.currentChooseMeetingRoom = result[0];
                        this.initRender();
                        this.meetingRoomList = result
                    })
                },
                //点击后重新渲染页面
                renderBookMeeting: function (m, e) {
                    $("#calendar").replaceWith("<div id='calendar'></div>");
                    this.currentChooseMeetingRoom = m;
                    renderFullCalendar(m.name, this.generateEvents(m.booking_info))
                },
                initRender: function () {
                    //初始化的时候，第一个会议室作为默认值
                    renderFullCalendar(this.currentChooseMeetingRoom.name,
                        this.generateEvents(this.currentChooseMeetingRoom.booking_info))
                }
            }

        });
    </script>
{% endblock %}
