{% extends 'base.html' %}
{% load static %}
{% block header %}
    <div xmlns:v-bind="http://www.w3.org/1999/xhtml">
        <table class="table table-bordered">
            <tr>
                <td style="background-color: ghostwhite; color: grey">
                    <span class="bigger-110"> 会议室 </span>
                </td>
                <td><span class="blue bigger-105"><% meetingRoomName %></span></td>
                <td style="background-color: ghostwhite; color: grey">
                    <span class="bigger-110"> 开始时间</span>
                </td>
                <td><span class="blue bigger-105"><% startTime %></span></td>
                <td style="background-color: ghostwhite; color: grey">
                    <span class="bigger-110"> 结束时间</span>
                </td>
                <td><span class="blue bigger-105"><% endTime %></span></td>
                <td style="background-color: ghostwhite; color: grey">
                    <span class="bigger-110"> 持续时间</span></td>
                <td><span class="blue bigger-105"><% costTime %></span>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        <i class="fa fa-file-o blue"></i> <span class="grey"> 会议主题 </span>
                        <span style="color: orangered">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" v-model="meetingSubject" class="col-xs-10 col-sm-5"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="meeting-abstract">
                        <i class="fa fa-list blue"></i> <span class="grey"> 会议大纲 </span>
                        <span style="color: orangered">*</span>
                    </label>
                    <div class="col-sm-9">
                        <textarea class="col-xs-10 col-sm-5" id="meeting-abstract" v-model="meetingAbstract"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 no-padding-right" for="user-list">
                        <i class="fa fa-user-plus blue"></i> <span class="grey"> 参会人员 </span>
                        <span style="color: orangered">*</span>
                    </label>

                    <div class="col-xs-12 col-sm-9">
                        <select multiple id="user-list" me="state" class="select2"
                                data-placeholder="点击选择">
                            <option v-for="user in userList" :value="user.username">
                                <% user.username %>[<% user.first_name %>]
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        <i class="fa fa-envelope-o blue"> </i> <span class="grey"> 邮件通知 </span>
                        <span style="color: white">*</span>
                    </label>
                    <div class="col-sm-9">
                        <div class="checkbox col-xs-12 col-sm-9">
                            <label>
                                <input name="col-xs-12 col-sm-9 form-field-checkbox" type="checkbox" class="ace"
                                       v-model="mailToMember">
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="start-book" v-on:click="startBook">
                            <i class="ace-icon fa fa-check bigger-110"></i>发起预定
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset" v-on:click="returnBack">
                            <i class="ace-icon fa fa-undo bigger-110" id="cancel-book"></i>取消预定
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block external_script %}
    <script>
        var currentUser = "{{ user.username }}";
        var msg = $("body").messageBox({
            modal: false,
            autoClose: 2,
            css: "{% static 'assets/css/messageBox.css' %}",
            locale: {
                NO: 'No',
                YES: 'Yes',
                CANCEL: '取消',
                OK: '好',
                textAutoClose: 'Auto close in %d seconds'
            }
        });
        var token = "{{ csrf_token }}";
        function getTimeDeltaMinutes(start, end) {
            var date3 = end - start;
            var leave1 = date3 % (24 * 3600 * 1000);
            var hours = Math.floor(leave1 / (3600 * 1000));
            var leave2 = leave1 % (3600 * 1000);
            var minutes = Math.floor(leave2 / (60 * 1000));
            return hours * 60 + minutes
        }
        function getzf(num) {
            if (parseInt(num) < 10) {
                num = '0' + num;
            }
            return num;
        }
        function getMyDate(str) {
            var timeStamp = parseInt(str);
            var oDate = new Date(timeStamp),
                oYear = oDate.getFullYear(),
                oMonth = oDate.getMonth() + 1,
                oDay = oDate.getDate(),
                oHour = oDate.getHours(),
                oMin = oDate.getMinutes(),
                oSen = oDate.getSeconds();
            var oWeek = "日一二三四五六".charAt(oDate.getDay());
            return oYear + '-' + getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin) + ':' + getzf(oSen) + ',' + '星期' + oWeek;
        }
        function getTimeDelta(start, end) {
            var date3 = end - start;
            var days = Math.floor(date3 / (24 * 3600 * 1000));
            var leave1 = date3 % (24 * 3600 * 1000);
            var hours = Math.floor(leave1 / (3600 * 1000));
            var leave2 = leave1 % (3600 * 1000);
            var minutes = Math.floor(leave2 / (60 * 1000));
            return days + "天 " + hours + "小时 " + minutes + " 分钟"
        }

        // 获取链接里面的参数
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;
            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        // 预定处理信息
        var vueData = {
            startTime: getMyDate(getUrlParameter('start')),
            endTime: getMyDate(getUrlParameter('end')),
            costTime: getTimeDelta(getUrlParameter('start'), getUrlParameter('end')),
            meetingRoomName: getUrlParameter('meetingroom'),
            meetingAbstract: '',
            meetingSubject: '',
            meetingMember: [],
            meetingDurationMinutes: getTimeDeltaMinutes(getUrlParameter('start'), getUrlParameter('end')),
            mailToMember: true,
            userApiUrl: "{% url 'bookmeeting:users' %}",
            bookApiUrl: "{% url 'bookmeeting:booking' %}",
            userList: []
        };

        var app_content = new Vue({
            el: "#book-page-content",
            delimiters: ["<%", "%>"],
            data: vueData,
            mounted: function () {
                this.getUserList();
                this.initSelect2()
            },
            methods: {
                initSelect2: function () {
                    $('.select2').css('width', '400px').select2({
                        allowClear: true
                    })
                },
                getUserList: function () {
                    this.$http.get(this.userApiUrl).then(function (response) {
                        this.userList = response.data;
                    })
                },
                returnBack: function () {
                    window.location.href = "{% url 'bookmeeting' %}"
                },
                startBook: function () {
                    var chooseMembers = $("#user-list").val();
                    var meetingMember = '';
                    if (chooseMembers === null) {
                        meetingMember = ''
                    } else {
                        $.each(chooseMembers, function (key, value) {
                            meetingMember += value + ';'
                        });
                    }
                    var item = {
                        'user': currentUser,
                        'meeting_room': this.meetingRoomName,
                        'start_time': this.startTime.split(",", 1)[0],
                        'end_time': this.endTime.split(",", 1)[0],
                        'subject': this.meetingSubject,
                        'abstract': this.meetingAbstract,
                        'duration': this.meetingDurationMinutes,
                        'invitation': this.mailToMember,
                        'member': meetingMember
                    };
                    //设置跨域请求header
                    console.log(item);
                    Vue.http.headers.common['X-CSRFToken'] = Cookies.get('csrftoken');
                    this.$http.post(this.bookApiUrl, item).then(function (response) {
                        if (response.data.status === 901) {
                            msg.data('messageBox').danger('抱歉', '只允许预定本周内的会议室，请重新选择');
                        } else if (response.data.status === 209) {
                            msg.data('messageBox').warning('注意', '会议室预定成功，但会议邀请失败，请反馈此问题');
                            setTimeout(function () {
                                window.location.href = "{% url 'bookmeeting' %}"
                            }, 2000);
                        }
                        else {
                            msg.data('messageBox').info('预定成功', '请注意查收邮件并准时参加会议');
                            setTimeout(function () {
                                window.location.href = "{% url 'bookmeeting' %}"
                            }, 2000);
                        }
                    }, function (xhr, response) {
                        if (xhr.status === 400) {
                            msg.data('messageBox').danger('抱歉', '缺少一些必填的信息');
                        } else if (xhr.status === 500) {
                            msg.data('messageBox').danger('500', '服务器内部错误');
                        }
                    });
                }
            }
        })
    </script>
{% endblock %}