{% extends 'base.html' %}
{% load static %}
{% block header %}
    <ul style="margin-left: 0">
        <li v-for="m in meetingRoomList"
            style="padding: 0; margin: 5px; list-style-type: none; display: inline-block;">
            <button @click="renderBookMeeting(m, $event)"
                    type="button"
                    class="btn btn-white btn-primary">
                <% m.name %>
            </button>
        </li>
    </ul>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-9">
            <div id="calendar"></div>
        </div>

        <div class="col-sm-3">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4> <% currentChooseMeetingRoom.name %> 会议室介绍</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div class="external-event label-success label-white" data-class="label-success">
                                <i class="ace-icon fa fa-user"></i>
                                可容纳人数： <% currentChooseMeetingRoom.capacity %>
                            </div>
                        </div>
                    </div>
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div class="external-event label-success label-white" data-class="label-success">
                                <i class="ace-icon fa fa-television"></i>
                                是否有投影/电视：
                                <span v-if="currentChooseMeetingRoom.screen" class="green">是</span>
                                <span v-else class="red">否</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4><% currentChooseMeetingRoom.name %> 今日预定情况</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div class="external-event label-success label-white"
                                 data-class="label-success">
                                <i class="ace-icon fa fa-clock-o"></i>
                                上午 已预订：<% currentMeetingRoomTodayBook.forenoon_book %>；
                                可预订：<% currentMeetingRoomTodayBook.forenoon_rest %>
                            </div>

                            <div class="external-event label-info label-white" data-class="label-info">
                                <i class="ace-icon fa fa-clock-o"></i>
                                下午 已预订：<% currentMeetingRoomTodayBook.afternoon_book %>；
                                可预订：<% currentMeetingRoomTodayBook.afternoon_rest %>
                            </div>


                            <div class="external-event label-warning label-white" data-class="label-info">
                                <i class="ace-icon fa fa-clock-o"></i>
                                晚上 已预订：<% currentMeetingRoomTodayBook.evening_book %>；
                                可预订：<% currentMeetingRoomTodayBook.evening_rest %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4><% currentChooseMeetingRoom.name %> 透视</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="space-4"></div>
                        <img width="200px" height="200px" style="border-radius:20px;"
                             :src="currentChooseMeetingRoom.picture"/>
                    </div>
                </div>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4>会议室公约</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="space-4"></div>
                        <ul style="color: darkgrey">
                            <li>请严格按需预定会议室</li>
                            <li>只可预定本周会议室</li>
                            <li>预定未使用超过3次将取消预定资格</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block external_script %}
    <script type="text/javascript">
        //消息盒子
        var currentUser = "{{ user.username }}";
        var msg = $("body").messageBox({
            modal: false,
            autoClose: 2,
            css: "{% static 'assets/css/messageBox.css' %}",
            locale: {
                NO: 'No',
                YES: 'Yes',
                CANCEL: '取消',
                OK: '好',
                textAutoClose: 'Auto close in %d seconds'
            }
        });
        // 日历渲染
        var renderFullCalendar = function (meetingRoomName, meetingEvents) {
            // console.log(meetingEvents);
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var name = meetingRoomName;
            var calendar = $('#calendar').fullCalendar({
                customButtons: {
                    meetingRoomButton: {
                        text: meetingRoomName
                    }
                },
                lang: 'zh-CN',
                timezone: 'local',
                minTime: '08:00:00',
                maxTime: '23:59:59',
                displayEventTime: true,
                displayEventEnd: true,
                aspectRatio: 2.2,
                firstDay: 1,
                defaultView: 'agendaWeek',
                disableDragging: true,
                disableResizing: true,
                allDaySlot: false,
                buttonText: {
                    month: '月视图',
                    agendaWeek: '周视图',
                    agendaDay: '日视图'
                },
                buttonHtml: {
                    prev: '<i class="ace-icon fa fa-chevron-left"></i>',
                    next: '<i class="ace-icon fa fa-chevron-right"></i>'
                },
                header: {
                    left: 'prev,next meetingRoomButton',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                },
                events: meetingEvents,
                editable: false,
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    window.location.href = "{% url 'book' %}?start=" + start + "&end=" + end + "&meetingroom=" + meetingRoomName;
                },
                eventClick: function (calEvent, jsEvent, view) {
                    //点击事件后的操作
                    var modal =
                        '<div class="modal fade" style="text-align: center; top:50%" >\
                          <div class="modal-dialog modal-sm modal-dialog-centered" style="vertical-align: middle">\
                           <div class="modal-content">\
				            <div class="modal-body" style="text-align: center">\
					         <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i>删除预定</button>\
					         <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i>取消操作</button>\
				            </div>\
			              </div>\
			             </div>\
			            </div>';

                    var modal = $(modal).appendTo('body');
                    modal.find('button[data-action=delete]').on('click', function () {
                        modal.modal("hide");
                        var eventId = calEvent.id;
                        $.ajaxSetup({headers: {'X-CSRFToken': Cookies.get('csrftoken')}});
                        $.ajax({
                            url: "{% url 'bookmeeting:booking' %}",
                            type: "DELETE",
                            data: {'id': eventId, 'bookUser': currentUser},
                            success: function (data, textStatus, xhr) {
                                if (data.status === 900) {
                                    msg.data('messageBox').danger('抱歉', '您无权删除他人预定的会议室');
                                }
                                else {
                                    calendar.fullCalendar('removeEvents', function (ev) {
                                        return (ev._id === calEvent._id);
                                    });
                                    msg.data('messageBox').info('成功', '您已成功退订会议室');
                                }
                            },
                            error: function () {
                            }
                        });
                    });
                    modal.modal('show').on('hidden', function () {
                        modal.remove();
                    });
                }
            });
        };

        var token = "{{ csrf_token }}";
        var data = {
            meetingRoomInfoUrl: "{% url 'bookmeeting:meetingroot-info' %}",
            meetingBookingUrl: "{% url 'bookmeeting:booking' %}",
            meetingBookTodayUrl: "{% url 'bookmeeting:today-book' %}",
            meetingRoomList: '', // 这里面包含了当前会议室的预定信息
            currentChooseMeetingRoom: '', //当前选择的会议室
            currentMeetingRoomTodayBook: '' //当前会议室今日预定情况
        };
        // vue
        var app = new Vue({
            el: "#book-page-content",
            delimiters: ["<%", "%>"],
            data: data,
            watch: {
                // 这里为了避免异步加载数据导致的页面数据缺失，使用watch来监视currentChooseMeetingRoom，如果数据完毕就重新渲染页面
                currentChooseMeetingRoom: function () {
                    this.renderBookMeeting(this.currentChooseMeetingRoom)
                }
            },
            created: function () {
                this.getMeetingRoom();
            },
            mounted: function () {
                {#                this.initRender();#}
            },
            methods: {
                getTodayBook: function (meeting_room) {
                    this.$http.get(this.meetingBookTodayUrl + "?meetingroom=" + meeting_room).then(function (response) {
                        this.currentMeetingRoomTodayBook = response.data
                    })
                },
                generateEvents: function (booking_info) {
                    // 根据booking_info，来生成页面展示的events
                    var eventsList = [];
                    if (0 !== booking_info.length) {
                        $.each(booking_info, function (k, v) {
                            var item = {
                                id: v.id,
                                title: v.subject + "[" + v.real_name + "]",
                                start: new Date(v.start_time),
                                end: new Date(v.end_time),
                                allDay: false,
                                className: 'label-info'
                            };
                            eventsList.push(item)
                        })
                    }
                    return eventsList
                },
                getMeetingRoom: function () {
                    this.$http.get(this.meetingRoomInfoUrl).then(function (response) {
                        var result = response.data;
                        // 把列表中的第一个作为页面的默认渲染
                        this.currentChooseMeetingRoom = result[0];
                        this.initRender();
                        this.meetingRoomList = result;
                    })
                },
                //点击后重新渲染页面
                renderBookMeeting: function (m, e) {
                    $("#calendar").replaceWith("<div id='calendar'></div>");
                    this.currentChooseMeetingRoom = m;
                    this.getTodayBook(this.currentChooseMeetingRoom.name);
                    renderFullCalendar(m.name, this.generateEvents(m.booking_info))
                },
                initRender: function () {
                    //初始化的时候，第一个会议室作为默认值
                    this.getTodayBook(this.currentChooseMeetingRoom.name);
                    renderFullCalendar(this.currentChooseMeetingRoom.name,
                        this.generateEvents(this.currentChooseMeetingRoom.booking_info))
                }
            }

        });
    </script>
{% endblock %}
