<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
</head>

<body><br><br>
<table width='100%' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
    <tr>
        <td colspan='3' align='center' style='background-color: #F4F4F4; padding: 28px 0 20px 0;'>
            <table align=center cellpadding=0 cellspacing=0>
                <tr>
                    <td>
                        <b><span
                                style='color: #FFFFFF; font-size: 20px; background-color: #83C36D; border-radius: 4px; border: 8px solid #83C36D;'>
                            &nbsp;&nbsp;会议邀请 &nbsp;&nbsp;</span>
                        </b>
                    </td>
                </tr>
            </table>
            <p style='margin: 24px 0 8px 0'>
                <span class='small'
                      style="color: #1B6AAA">Dear <strong>{{ you }}</strong>，请准时参加由 <strong>{{ book_user }}</strong> 发起的 【{{ subject }}】</span>
            </p>
        </td>
    </tr>
    <tr>
        <td valign='middle' align='center' colspan='3'>
            <table style='padding: 16px'>
                <tr>
                    <!--[if !mso]><!-- -->
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='width: 50px; height: 50px; border: 3px solid #797C84; border-radius: 50%;  background-position: center; background-repeat: no-repeat; background-size: contain'>
                            <div style='width: 50px; height: 50px; border-radius: 50%;  background-position: center; background-repeat: no-repeat; background-size: contain'></div>
                        </div>
                    </td>
                    <td width=4></td>
                    <!--<![endif]-->
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'>
                            <!--[if !mso]><!-- -->
                            <p style='text-align: left'>

                            </p>
                            <!--<![endif]-->
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td width='50%' valign='middle' align='right' style='border-right: 1px solid #979797; padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'><span><b>会议地点</b></span><br></div>
                    </td>
                </tr>
            </table>
        </td>
        <td width='50%' valign='middle' align='left' style='padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'>
                            <span style='font-size: 16px; text-decoration: none; color: #4A4A4A'> {{ location }} </span><br>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td width='50%' valign='middle' align='right' style='border-right: 1px solid #979797; padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'><span><b>会议主题</b></span><br></div>
                    </td>
                </tr>
            </table>
        </td>
        <td width='50%' valign='middle' align='left' style='padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'>
                            <span style='font-size: 16px; text-decoration: none; color: #4A4A4A'> {{ subject }} </span><br>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width='50%' valign='middle' align='right' style='border-right: 1px solid #979797; padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'><span><b>开始时间</b></span><br></div>
                    </td>
                </tr>
            </table>
        </td>
        <td width='50%' valign='middle' align='left' style='padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'>
                            <span style='font-size: 16px; text-decoration: none; color: #4A4A4A'> {{ start_time }} </span><br>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width='50%' valign='middle' align='right' style='border-right: 1px solid #979797; padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'><span><b>结束时间</b></span><br></div>
                    </td>
                </tr>
            </table>
        </td>
        <td width='50%' valign='middle' align='left' style='padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'>
                            <span style='font-size: 16px; text-decoration: none; color: #4A4A4A'> {{ end_time }} </span><br>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width='50%' valign='middle' align='right' style='border-right: 1px solid #979797; padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'><span><b> 参会人员</b></span><br></div>
                    </td>
                </tr>
            </table>
        </td>
        <td width='50%' valign='middle' align='left' style='padding: 16px'>
            <table>
                <tr>
                    <td align='center' style='font-size: 14px; font-weight: 300; color: #4A4A4A;'>
                        <div style='line-height: 1.4em'>
                            <span style='font-size: 16px; text-decoration: none; color: #4A4A4A'> {{ members }} </span><br>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<br><br>
<center>
    <span style='font-size: 12px; font-weight: 300; color: #4A4A4A;'>欢迎使用会议室预定系统
        <a href="#">点击预定会议室</a></span>

</center>
<br><br><br></body>

</html>