{% extends 'base.html' %}
{% load static %}
{% block main-content %}
    <div class="main-container" id="login-page">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <div class="space-4"></div>
                            <h3 class="blue" id="id-company-text">龙渊会议室预定系统</h3>
                        </div>
                        <br>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body bookmeeting-login">
                                    <div class="widget-main">
                                        <h5 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i> 请输入您的登录信息
                                        </h5>
                                        <div class="space-6"></div>


                                        <form action="{% url 'login' %}" method="post">
                                            {% csrf_token %}
                                            <fieldset>
                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            {{ form.username }}
{#															<input type="text" class="form-control" placeholder="Username" value="{{ form.username }}">#}
															<i class="ace-icon fa fa-user"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            {{ form.password }}
{#															<input type="password" class="form-control" placeholder="Password" value="{{ form.password }}">#}
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                                </label>

                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    {% if form.errors %}
                                                        <p class="red">用户名或密码错误，请重试</p>
                                                    {% endif %}
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace" checked>
                                                        <span class="lbl"> 记住我 </span>
                                                    </label>
                                                    <button type="submit"
                                                            class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110"> 登录 </span>
                                                    </button>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-body -->
                                </div><!-- /.signup-box -->
                            </div><!-- /.position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        ©2018 All Rights Reserved.版权所有.成都龙渊网络科技有限公司
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block external_script %}
{% endblock %}